body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: azure;
   background-color: black;
}
header{
    height: 250px;
text-align: center;
color: azure;
display: flex;
align-items: center;
justify-content: space-around;

background-color: gray;

}


img{
    height: 100px;
    width: 100px;
    float: left;
    margin: 10px;
    /* margin-left: 50px; */
    object-fit: cover;
    border-radius: 10px;
}



#About_Me{
margin-left: 10px;
text-align: center;
margin-bottom: 20px;
}

ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    margin-left: 0px;
}

#skills .skill{
text-align: center;
margin-top: 30px;
}

.project{
    border: 1px solid; 
    margin: 10px;
    margin-left: 20px;
    padding: 20px;
}

.project-symbol {
    font-size: 1.5em;
    margin-right: 5px;
}

a{
    border-radius: 5%;
    color: azure;
}

a:hover{
    background-color:black ;
    transition: 0.5s;
}

.Lang{
    border: 1px solid;
    margin: 10px 20px;
    padding: 20px;
}

ul{
    list-style: disc;
}

